@model IEnumerable<_1b.IskalievaLE.WebPl.ViewModels.AppInventory.InventoryVM>

@{
    ViewBag.Title = "Index";
}

<h2>List Inventory</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
        <
    </thead>>
    <tbody>
        @foreach (var inventory in Model)
        {
            <tr>
                <td>@inventory.NameVm</td>
            </tr>

        }
    </tbody>
</table>

